<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="bundle.js" async></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div data-controller="hello">
      <input data-target="hello.name" type="text">
      <button data-action="click->hello#greet">
        Greet
      </button>
      <span data-target="hello.output">
      </span>
    </div>

  </body>
</html>
